<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ifUnless demo</title>
</head>
<body>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="a:${admin}">
                <th th:text="${a.name}"></th>
                <th th:text="${a.email}"></th>
                <th th:text="${a.role}"></th>
                <th >
                    <a th:href="@{/update}" th:if="${a.role}=='ADMIN'">Update</a>
                    <a th:href="@{/delete}" th:if="${a.role}=='ADMIN'">Delete</a>
                    <a th:href="@{/view}" th:unless="${a.role}=='ADMIN'">View</a>
                </th>
            </tr>
        </tbody>
    </table>

</body>
</html>